ER_BASE_URL=https://mindoro.pamdas.org
ER_USERNAME=your_username
ER_PASSWORD=your_password
ER_TOKEN=optional_bearer_token
DAS_WEB_TOKEN=optional_das_web_token
ER_TRACK_TOKEN=optional_er_track_token
ER_TIMEOUT_MS=30000
